@font-face
{
font-family: mplus-1p-regular;
src: url('http://mplus-fonts.sourceforge.jp/webfonts/mplus-1p-regular.ttf')
     format("truetype");
}

body {
    font-family: 'Muli', sans-serif; /*'Proxima Nova Regular';*/
    font-size: 120%;
}

a, a:visited {
    color: rgb(100, 100, 100);
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    color: rgb(0, 90, 120);
    font-weight: bold;
    margin-top: 0.5em;
}

p {
    line-height:   1.1em;
    margin-bottom:   1em;
}

.logo span {
    font-size: 100px;
    font-weight: bold;
    font-family: mplus-1p-regular;
}

strong {
    color: rgb(100, 100, 100);
    font-weight: bold;
}