body {
    font-family: 'Muli', serif;
}

a, a:visited {
    color: rgb(100, 100, 100);
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    color: rgb(0, 90, 120);
    font-weight: bold;
    margin-top: 0.5em;
}

.logo span {
    font-size: 100px;
    font-weight: bold;
}

strong {
    color: rgb(100, 100, 100);
    font-weight: bold;
}